@import url('http://fonts.googleapis.com/css?family=Gafata')
@import url('http://fonts.googleapis.com/css?family=Josefin+Sans')

background-color = #eee
fore-color = #D3DB12
font-color = #666
bold-font-color = #333
link-color = #C8D90C
main-font = Gafata, 'Helvetica Neue', sans-serif
logo-font = 'Josefin Sans', 'Helvetica Neue Light', sans-serif;


