@import url('http://fonts.googleapis.com/css?family=Alegreya+Sans:400,700,400italic')

background-color = #eee
fore-color = #D3DB12
font-color = #666
bold-font-color = #333
link-color = #C8D90C
main-font = 'Alegreya Sans', 'Helvetica Neue', sans-serif


