<div class="page-header">
  <div class="container">
    <h1 class="title">Dashboard</h1>
  </div>
</div>
<div id="content-container">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div id="main-panel" class="panel panel-default">
          <div class="panel-heading">
            <ul class="nav nav-links">
              <li data-tab="overview"><a>Overview</a></li>
              <li data-tab="pullrequests"><a>Pull Requests</a></li>
              <li data-tab="issues"><a>Issues</a></li>
            </ul>
          </div>
          <div class="panel-body">
            content
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-body">
            Fork and contribute to vilya.
            <a href="//douban-code.github.io">View the document</a>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            Projects
            <button class="btn btn-default btn-xs pull-right">New</button>
          </div>
          <div id="side-projects" class="panel-body">
            projects
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
